<h2>Please enter your contact's information below</h2>

<form action="/add/contact" method="post">
  <div class="form-group">
    <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First Name">
  </div>
  <div class="form-group">
    <input id="last_name" name="last_name" type="text" class="form-control" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input id="birthday" name="birthday" type="text" class="form-control" placeholder="Birthday">
  </div>
  <div class="form-group">
    <button type="submit" class="btn-success">Add</button>
  </div>
</form>
