<h2><%= @contact.first_name() %>'s E-mail : <%= @email.user_name() %>@<%= @email.domain() %> has been added to your address book.</h2>

<p><a href='contact/<%= @contact.id() %>/add/email'> Add another E-mail for this contact</a></p>
<p><a href='/'>Home</a></p>
