<h2>Please add an email for this contact:</h2>

<form action="/contact/<%= @contact.id() %>/add/email" method='post'>
  <div class='form-group'>
    <input id='user_name' name='user_name' type='text' class='form-control' placeholder='Username'>
  </div>
  <div class='form-group'>
    <input id='domain' name='domain' type='text' class='form-control' placeholder='Domain'>
  </div>
  <div class="form-group">
    <button type="submit" class="btn-success">Add</button>
  </div>
</form>
