<h1>Address Book</h1>

<h3>Here are your contacts:</h3>

<ul>
  <% @contacts.each() do |contact| %>
  <li><a href="/contact/<%= contact.id() %>"><%= contact.first_name() %> <%= contact.last_name() %></a></li>
  <% end %>
</ul>
<h4><a href='/add/contact'>Add Contact</a></h4>
