<h2>Please enter in a phone number:</h2>
<form action="/contact/<%= @contact.id() %>/add/phonenumber" method="post">
  <div class="form-group">
    <input id="area_code" name="area_code" type="text" class="form-control" placeholder="Area Code">
  </div>
  <div class="form-group">
    <input id="number" name="number" type="text" class="form-control" placeholder="Number">
  </div>
  <div class="form-group">
    <input id="type" name="type" type="text" class="form-control" placeholder="Type">
  </div>
  <div class="form-group">
    <button type="submit" class="btn-success">Add</button>
  </div>
</form>
